 
.menu-btn {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 10px !important; 
  color: black;
  font-size: 20px;
  object-fit: contain;
}
.a{
  background-color: aquamarine;
}