.gamble {
  border: 2px solid rgb(247, 4, 4);
  background-color: #023531;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  border-radius: 20px;
  object-fit: contain;
  overflow-wrap: center;
}
.gamblehead {
  font-size: 35px;
  margin-top: 10px;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.freebetslip {
}
.footer-logo {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0;
  font-size: 23px;
}
.danger {
  /* color: red;
   display:flex;
  align-content: center;
  align-items: center;  
    width: 70px;
    height: 70px; 
    font-size: 23px;
    object-fit: contain;
    justify-content: center;
    shape-outside: circle();
    border: 3px solid red;
    clip-path: circle(); */
  /* margin: 5px 0;
    */
  width: 60px;
  height: 60px;

  border-radius: 50%;
  border: 5px solid red;
  background-color: black;
  /* background-size: 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%; */
  background-repeat: no-repeat;
  /* background-image: linear-gradient(transparent, transparent), 
                      linear-gradient(30deg, red 36%, transparent 30%),
                      linear-gradient(120deg, yellow 36%, transparent 30%),
                      linear-gradient(300deg, blue 36%, transparent 30%),
                      linear-gradient(210deg, green 36%, transparent 30%);
    background-position: center center, left top, right top, left bottom, right bottom;
    background-origin: content-box, border-box, border-box, border-box, border-box;
    background-clip: content-box, border-box, border-box, border-box, border-box;
    transform: rotate(30deg); */
}
.danger > p {
  align-content: center;
  font-size: 29px;
  color: white;
}
