/* .messages {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 10px;
}
.msgheader {
  display: flex;
  align-items: center;
}
.msgbody {
  display: flex;
  align-items: center;
}
.msgbody > p {
} */
